[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flake8 = "*"
rope = "*"

[packages]
flask = "*"
flask-security = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-migrate = "*"
gunicorn = "*"
flask-jwt = "*"
psycopg2 = "*"
flask-cors = "*"

[requires]
python_version = "3.7"
